html, body {
    min-height: 100%;
  }


body {
    background-image:url(../images/crystal-background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

#jumbo {
    background-color: rgba(19, 18, 19, 0.431);
    padding: 10px 30px 8px 30px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

#jumbotext1 {
    font-size: 28px;
    color: whitesmoke;
    font-weight: 900;
}

#jumbotext2 {
    font-size: 16px;
    color: whitesmoke;
    line-height: 20px;
    font-weight: 650;
}

.crystal-images {
width: 175px;
height: 90px;
opacity: .75;
border: 2px solid whitesmoke;
border-radius: 10px;
margin: 3px;
}

#results {
    background-color: rgba(19, 18, 19, 0.431);
    padding: 10px 30px 8px 30px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}