html, body {
    height: 100%;
  }

body {
    background-image:url(../images/crystal-background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

#jumbo {
    background-color: rgba(18, 18, 19, 0.431);
    padding: 10px 30px 8px 30px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

#jumbotext1 {
    font-size: 28px;
    color: whitesmoke;
}

#jumbotext2 {
    font-size: 12px;
    color: whitesmoke;
}

.crystal-images {
width: 180px;
height: 90px;
}

#results {
    background-color: rgba(18, 18, 19, 0.431);
    padding: 10px 30px 8px 30px;
    border-radius: 10px;
    border: 1px solid whitesmoke;