.header {
width: 250px;
padding:  20px;
background-color: orange;
color: white; 
text-align: center;
}

.instructions {
padding: 20px;
background-color: tan;
width: 400px;
color: green;
font-weight: bold;
}

.target {
background-color: green;
width: 100px;
padding: 50px;
margin-top: 10px;
margin-bottom: 10px;
display: block;
font: 20px;
}

.result {
background-color: cyan;
padding: 20px;
margin-top: 20px;
margin-bottom: 20px;
display: block;
}

.crystal-images {
width: 200px;
height: 100px;
}

#yts {
background-color: teal;
width: 200px;
color: white;
font-weight: bold;
padding-left: 2px;
margin-top: 5px;
margin-bottom: 5px;
}

.score {
display: block;
width: 200px;
height: 100px;
padding-left: 2px;
background-color: teal;
color: white;
margin-top: 5px;
margin-bottom: 5px;
font-weight: bold;
}