html, body {
    min-height: 100%;
  }

body {
    background-image:url(../images/gif-background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

#jumbo {
    background-color: rgba(19, 18, 19, 0.431);
    padding: 10px 30px 8px 30px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

#jumbotext1 {
    font-size: 28px;
    color: whitesmoke;
    font-weight: 900;
}

#jumbotext2 {
    font-size: 16px;
    color: whitesmoke;
    line-height: 20px;
    font-weight: 650;
}

.gif-size {
width: 202px;
height: auto;
border-radius: 10px;
margin: 6px;
}

.float-right{
    float: right;
}

.btn {
    margin: 8px;
}

#gif-container {
    background-color: rgba(19, 18, 19, 0.431);
    padding: 10px 30px 8px 30px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    display: none;
}

#gif-input{
    margin-top: 15px;
}