/*------------------------index.html----------------------------*/ 
html, body {
    height: 100%;
  }
  
/* Style the top navigation bar */

  .start{
    margin-top: 100px;
  }

  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    background-color: #fefefa;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
 
  .banner {
    border-top: 2px solid rgb(0, 148, 148);
    margin-top: 2px;
  }

  #motto {
    text-align: center;
    font-size: 18px;
    color: rgb(114, 114, 114);
    font-family: "Helvetica Neue", sans-serif;
  }

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

/*Title for Body Containers*/
.boxheader {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 2px solid;
  border-bottom-color: #cccccc;
  color:#4aaaa5;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 30px;
  margin-bottom: 30px;
}

/*MyPic Styling*/
  #mypic {
    max-width: 230px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    #mypic {
      float: left;
      margin-right: 15px;
    }
  }

/*Body Font*/
  #textbox{
   padding-top: 5px;
  }

  #biotext{
    color: #777777;
    font-family: "Helvetica Neue", sans-serif;
    line-height: 28px;
    text-align: justify;
  }

  #contact-text{
    color: #666666;
    font-family: "Helvetica Neue", sans-serif;
    line-height: 20px;
  }

/* Style the content */
  .content {
    background-color: #ffffff;
    padding: 10px;
    border-color: #dddddd;
    border: 4px;
    min-width: 300px;
 }
        
/* Style the footer */
.footer {
    background-color: #666666;
    padding: 16px 0px;
    text-align: center;
    font-size: 10px;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-top: 8px solid #4aaaa5;
 }

.card {
  box-shadow: 0;
  transition: 0.3s;
  border-radius: 4px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.card:hover {
  box-shadow: 2px 4px rgba(0,0,0,0.2);
}

img {
  padding-top: 1px;
  border-radius: 10px 10px 5px 5px;
}

.github {
  color: #666666;
  text-align: center;
}

.title {
  color: #666666;
  text-align: center;
}

a:link {
  color: rgb(98, 98, 98);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(98, 98, 98);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(0, 119, 99);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: rgb(0, 62, 104);
  background-color: transparent;
  text-decoration: underline;
}