html, body {
    min-height: 100%;
  }

body {
    background-image:url(../images/trivia-background.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}

#jumbo {
    background-color: rgba(0, 0, 128, 0.431);
    padding: 10px 30px 8px 30px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

#jumbo1 {
    display: none;
}

.jumbotext {
    color: whitesmoke;

}

#jumbotext2 {
    font-size: 18px;
    color: whitesmoke;
}

#time-left{
    color: whitesmoke;
}

#schmeckle{
background-color: rgba(0, 0, 128, 0.431);
display: none;
}

#wubba{
background-color: rgba(0, 0, 128, 0.431);
display: none;
}

#blitz{
background-color: rgba(0, 0, 128, 0.431);
display: none;
}

#crush{
background-color: rgba(0, 0, 128, 0.431);
display: none;
}

#dimension{
background-color: rgba(0, 0, 128, 0.431);
display: none;
}

.card {
box-shadow: 0;
transition: 0.3s;
border-radius: 4px;
padding-bottom: 5px;
padding-top: 5px;
}

#start{
display: inline;
}

.questionpad{
padding: 5px;
}

#results{
background-color: rgba(0, 0, 128, 0.431);
display: none;
}

#rtext{
text-align: center;
text-decoration: underline;
}

#judgement{
text-align: center;
padding: 15px;
font-size: 22px;
color: whitesmoke;
}

#judgement2{
text-align: center;
padding: 15px;
font-size: 22px;
color: whitesmoke;
}


.pad2{
padding: 10px;
font-size: 18px;
color: whitesmoke;
}

#timesup{
display: none;
background-color: rgba(0, 0, 128, 0.431);
}